{% extends "base.html" %}
{% block title %}Change-Password{% endblock title %}
{% block body %}

<div
  class="container border w-50 my-24 p-5 mt-5 rounded myDiv"
  style="box-shadow: 0 0 10px rgba(0, 255, 0, 0.5)"
>
  <h1 class="text-center pb-3">User Authentication</h1>
  
  <form class="row g-3 needs-validation" method='post' action='' novalidate>
    {% csrf_token %}
   
    <div class="col-md-6">
      <label for="validationCustomUsername" class="form-label">Current Password</label>
      <div class="input-group has-validation">
        <input
          type="text"
          class="form-control"
          id="validationCustomUsername"
          name="current-password"
          required
        />
        <div class="invalid-feedback">Please enter the current password.</div>
      </div>
    </div>

    <div class="col-md-6">
      <label for="validationCustomUsername" class="form-label">New Password</label>
      <div class="input-group has-validation">
        <input
          type="Password"
          class="form-control"
          id="validationCustomUsername"
          name="new-password"
          required
        />
        <div class="invalid-feedback">Please Enter the New Password</div>
      </div>
    </div>

    <div class="col-md-6">
      <label for="validationCustomUsername" class="form-label">Confirm Password</label>
      <div class="input-group has-validation">
        <input
          type="Password"
          class="form-control"
          id="validationCustomUsername"
          name="confirm-password"
          required
        />
        <div class="invalid-feedback">Please Confirm the Password</div>
      </div>
    </div>

    
    <div class="col-12">
      <button class="btn btn-primary submitBtn" type="submit">Reset Password</button>
    </div>
  </form>
</div>

<script>
  (() => {
    "use strict";

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll(".needs-validation");
    const myDiv = document.querySelector(".myDiv");

    // Loop over them and prevent submission
    Array.from(forms).forEach((form) => {
      form.addEventListener(
        "submit",
        (event) => {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
            myDiv.style.boxShadow = "0 0 10px rgba(255, 0, 0, 0.5)";
          }

          form.classList.add("was-validated");
        },
        false
      );
    });


})();
</script>

{% endblock body %}